       <%- include('./header.ejs') %>
       <!-- about -->
        <div class="about container-fluid kk mt-5" id="about1">

            <div class=" rounded">
                <h1 class="ms-5 fnt">
                    About <span style="color: #dc3545;">ITM University</span>
                </h1>
                <h5 class="ms-5 mt-3 col-md-11 fnt">
                    Welcome to ITM University Gwalior
                    You’re probably already aware that ITM University Gwalior is one of the best universities in India
                    in
                    terms of its academic reputation and infrastructure, but did you also know:
                </h5>
            </div>


            <div class="container aboutfont d-flex align-item-center justify-content-center mb-5">
                <div class="text-center mt-4 col-md">
                    <img class="" src="image/about.jpg" alt="">
                </div>

                <p class="mt-4 ms-5 col-md   txt fnt">
                    ITM University Gwalior offers virtually unlimited opportunities for inquiry, discovery, and
                    education
                    with uniquely crafted educational programmes — and yet is a close community that provides a real
                    sense
                    of belonging. Here it is like playing under the most inspiring captain who brings his team together
                    and
                    infuses it with a great sense of energy and motivation during all times. ITM University is a
                    multidisciplinary university known for its quality of research and teaching across the academic
                    spectrum, with subjects spanning the sciences, engineering, management, fine arts, social sciences,
                    arts, nursing etc.
                </p>
            </div>
        </div>
        <!-- about end-->
        <%- include('./footer.ejs') %>
